<ion-content fullscreen="true">
  <section>

    <app-base-header
      (handleBackClick)="backClick()"
      title="Hubungi CS"
      description="Hubungi kami untuk segala pertanyaan">
    </app-base-header>



    <ion-item style="margin-top:50%;" lines="none">
      <img class="logo" src="assets/olahraga/comment-dots-solid.svg">
    </ion-item>

    <ion-item style="margin-top:5px;" lines="none">
      <ion-col>
        <p class="top">Butuh informasi lebih jelas?</p>
        <p class="second">Chat langsung dengan CS MSportive yah</p>
      </ion-col>
    </ion-item>

    <ion-item style="margin-top:5px;" lines="none">

      <div class="hw-wa">
        <a [href]="whatsapp" target="_blank">
          <span>Kirim Pesan via Whatsapp</span>
        </a>
      </div>

    </ion-item>
  </section>

</ion-content>
