<ion-content>
  <section class="sofie-section">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-base-header
      (handleBackClick)="backClick()"
      title="Booking"
      description="Silahkan pesan jadwal yang tersedia">
    </app-base-header>

    <div class="hw-list" style="width: 100%">
      <a href="/olahraga/singlesport">
        <ion-item lines="none" class="hw-listlapangan">
          <ion-col size="9" style="padding: 0">
            <p class="hw-nama">{{ court?.nama }}</p>
            <p class="hw-address">{{ court?.deskripsi }}</p>

            <p class="hw-fasilitas">Jenis Alas : {{ court?.tipe_alas }}</p>
            <p class="hw-fasilitas">Jenis Lapangan : {{ court?.tipe_lapangan }}</p>

            <p class="hw-nama harga">{{ court?.deskripsi_harga }}</p>
          </ion-col>

          <ion-col size="3">
            <img class="thumbnail" src="{{imageUrl}}lapangan/{{court?.link_gambar}}"/>
          </ion-col>
        </ion-item>
      </a>
    </div>
    <div class="hw-empty-space"></div>

    <div class="hwdatetime">
      <ion-item lines="none" style="margin: 20px 0px">
        <ion-col size="6">
          <p class="title hw-bultah" style="margin: 20px 0 0px 0px">
            {{ monthName(selectedMonth) }} {{ selectedYear }}
          </p>
        </ion-col>
        <ion-col size="6" style="margin-bottom: 15px">
          <ion-icon
            class="prev backclik_black"
            (click)="prevMonth()"
            src="assets/icon/chevron-left.svg"
          ></ion-icon>
          <ion-icon
            class="next backclik_black"
            (click)="nextMonth()"
            src="assets/icon/chevron-right.svg"
          ></ion-icon>
        </ion-col>
      </ion-item>

      <ion-item>
        <div class="outer-div">
          <div class="inner-div" #innerDiv>
            <ul id="dates">
              <li
                *ngFor="let day of days"
                [ngClass]="{'active booked': day.booked, 'disabled': day.disabled}"
                [attr.data-date]="day.date"
                (click)="!day.disabled && dateClick(day)"
              >
                <span>{{ day.day }}</span>
                {{ day.date }}
              </li>
            </ul>
          </div>
        </div>
      </ion-item>

    </div>

    <div *ngIf="court?.status_waktu == true" class="hw-jamnya" id="pilih-jam">
      <div *ngIf="bookingTimes.length === 0" class="empty-state">
        Waktu booking tidak tersedia, silahkan pilih tanggal lain
      </div>

      <div *ngIf="bookingTimes.length > 0">
        <ion-item lines="none" *ngFor="let bookingTime of bookingTimes">
          <input
            type="checkbox"
            value="{{bookingTime.id}}"
            [checked]="bookingTime.status === 'checked'"
            (change)="onCheckboxChange($event.target,bookingTime)"
            [disabled]="['booked','not available'].includes(bookingTime.status)"
            *ngIf="!['booked','not available'].includes(bookingTime.status)"
          />
          <ion-col class="hw-time checked-list" size="12">
            <label for="{{bookingTime.booking_time}}">{{ bookingTime.booking_time }}</label>
            <span *ngIf="!['booked','not available'].includes(bookingTime.status)"
                  class="harga">{{ bookingTime.price | currency:'Rp.':'symbol':'3.0' }}</span>
            <span *ngIf="['booked','not available'].includes(bookingTime.status)" class="harga"
                  style="text-transform: capitalize">{{ bookingTime.status }}</span>
          </ion-col>
        </ion-item>
      </div>
    </div>


    <ion-footer class="sofie-footer">
      <ion-item lines="none">
        <ion-col size="6">
          <p class="hw-labelharga">Total Biaya</p>
          <p class="hw-hargatotal"><span>{{ totalPrice| currency:'Rp.':'symbol':'0.0' }}</span></p>
        </ion-col>
        <ion-col
          size="6"
          style="margin: 0 auto; float: none; text-align: right; padding: 0"
        >
          <ion-button
            class="pilih"
            [disabled]="!isBookingTimesChecked()"
            (click)="selanjutnyaClick()"
          >
        <span>
          <a style="color: #fff"> Selanjutnya </a>
        </span>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-footer>

  </section>

</ion-content>

