<ion-content fullscreen="true">
  <section>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-base-header
      (handleBackClick)="backClick()"
      title="Detail Promo"
      description="Temukan promo menarik"
    >
    </app-base-header>

    <ng-container *ngIf="!loading; else loadingSkeleton">
    <!--PROMO DETAIL-->
    <div class="datanya">
      <ion-item class="hw-lapangan" lines="none">
        <img class="hw-ganbarnya" src="{{imageUrl}}promo/{{court?.link_gambar}}"/>
      </ion-item>

      <!-- DESCRIPTION -->
      <ion-item class="hw-lapangan produk-desc" lines="none">
        <ion-col>
          <p class="hw-nama-lapangan">{{ court?.nama }}</p>
          <p class="hw-deskripsi">
            {{ court?.deskripsi }}
          </p>
        </ion-col>
      </ion-item>
      <!--Harganya-->
<!--      <ion-item lines="none">-->
<!--        <ion-col>-->
<!--          <p class="harga">{{ court?.deskripsi_harga }}</p>-->
<!--          <span class="hw-btn" (click)="bookingClick()">Booking</span>-->
<!--        </ion-col>-->
<!--      </ion-item>-->
    </div>
    </ng-container>
    <ng-template #loadingSkeleton>
      <app-detail-lapangan-skeleton *ngIf="loading"></app-detail-lapangan-skeleton>
    </ng-template>
  </section>
</ion-content>
