<ion-content fullscreen="true">
  <section>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-base-header
      (handleBackClick)="this.location.back()"
      title="Detail Promo"
      description="Temukan promo menarik"
    >
    </app-base-header>

    <ng-container *ngIf="!loading; else loadingSkeleton">
      <!--PROMO DETAIL-->
      <div class="datanya">
        <ion-item class="hw-lapangan" lines="none">
          <img class="hw-ganbarnya" src="{{imageUrl}}promo/{{promo?.link_gambar}}"/>
        </ion-item>

        <!-- DESCRIPTION -->
        <ion-item class="hw-lapangan produk-desc" lines="none">
          <ion-col>
            <p class="hw-nama-lapangan">{{ promo?.nama }}</p>
            <div class="hw-deskripsi" [innerHTML]="promo?.deskripsi">
            </div>
          </ion-col>
        </ion-item>
        <!--Harganya-->
        <div style="padding-left: 20px;padding-right:20px">
          <div style="font-size: 14px;font-weight: 500">
            Tanggal Expire {{ promo?.tgl_expire_voucher | date: 'dd MMMM YYYY' }}
          </div>
          <p class="harga">Nilai Voucher {{ promo?.nilai_voucher | currency:'Rp.':'symbol':'0.0' }}</p>
        </div>
      </div>
    </ng-container>
    <ng-template #loadingSkeleton>
      <app-detail-lapangan-skeleton *ngIf="loading"></app-detail-lapangan-skeleton>
    </ng-template>
  </section>
</ion-content>
