<section>
  <div class="hw-slide" style="margin-top: 32px">
    <div class="ion-no-border">

      <div>
        <div class="hw-slide">
          <div class="hw-section-slide" style="padding-left:20px;padding-right:20px">
            <ion-skeleton-text style="border-radius: 20px;width: 100%;height: 250px" ></ion-skeleton-text>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Kategori Olahraga-->
  <div style="width: 100%;">
    <ion-item lines="none" class="header-title" style="margin: 20px 0 0px 0;">
      <div style="width: 100%">
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
      </div>

    </ion-item>
  </div>

  <div class="hw-empty-space"></div>


  <!-- Jam Operasional -->
  <div style="width: 100%;">
    <ion-item style="margin-top: -10px;" lines="none" class="header-title">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
    <ion-item class="waktu" lines="none">
      <ion-col size="6">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-item>
  </div>
  <div class="hw-empty-space"></div>

  <!-- Fasilitas -->
  <div style="width: 100%;padding-left:20px;padding-right: 20px">

    <ion-skeleton-text></ion-skeleton-text>
    <ion-skeleton-text></ion-skeleton-text>
    <ion-skeleton-text></ion-skeleton-text>


  </div>
  <div class="hw-empty-space"></div>

  <!--Lokasi-->
  <div style="width: 100%;">
    <ion-item lines="none" class="header-title">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
    <ion-item class="lokasi" lines="none">
      <ion-col size="9">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col size="3">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-item>

  </div>
  <div class="hw-empty-space"></div>

  <!--Aturan& Kebijakan-->
  <div style="width: 100%;">
    <ion-item class="kebijakan" lines="none">
      <ion-col size="12">
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-item>

  </div>

</section>




