<ion-content>
  <section>
    <app-base-header
      (handleBackClick)="backClick()"
      title="Ubah Password"
      description="Silahkan input password lama anda terlebih dulu">
    </app-base-header>

    <div class="frame-default">
      <form class="mid" #form="ngForm" (ngSubmit)="changePassword(form.value)">
        <ion-grid>
          <ion-row color="primary">
            <ion-col>
              <div class="hw-form-daftar">
                <ion-item lines="none">
                  <ion-label position="floating" mode="ios"
                  >Password Lama
                  </ion-label
                  >
                  <ion-input
                    enterkeyhint="go"
                    (keyup.enter)="changePassword(form.value)"
                    ngModel
                    name="old_password"
                    [type]="showPassword ? 'text' : 'password'"
                  ></ion-input>
                  <ion-icon
                    class="mata-satu"
                    size="default"
                    slot="end"
                    [name]="showPassword ? 'eye-off' : 'eye'"
                    (click)="togglePassword()"
                  ></ion-icon>
                  <!--              <span class="error" [hidden]="passerror === ''"-->
                  <!--                >{{passerror}}</span-->
                  <!--              >-->
                </ion-item>

                <ion-item lines="none">
                  <ion-label position="floating" mode="ios"
                  >Password Baru
                  </ion-label
                  >
                  <ion-input
                    enterkeyhint="go"
                    (keyup.enter)="changePassword(form.value)"
                    ngModel
                    name="password"
                    [type]="showPassword ? 'text' : 'password'"
                  ></ion-input>
                  <ion-icon
                    class="mata-satu"
                    size="default"
                    slot="end"
                    [name]="showPassword ? 'eye-off' : 'eye'"
                    (click)="togglePassword()"
                  ></ion-icon>
                  <!--              <span class="error" [hidden]="passerror === ''"-->
                  <!--                >{{passerror}}</span-->
                  <!--              >-->
                </ion-item>

                <ion-item lines="none">
                  <ion-label position="floating" mode="ios"
                  >Ketik Ulang Password Baru
                  </ion-label
                  >
                  <ion-input
                    enterkeyhint="go"
                    (keyup.enter)="changePassword(form.value)"
                    ngModel
                    name="password_confirm"
                    [type]="showPassword ? 'text' : 'password'"
                  ></ion-input>
                  <ion-icon
                    class="mata-satu"
                    size="default"
                    slot="end"
                    [name]="showPassword ? 'eye-off' : 'eye'"
                    (click)="togglePassword()"
                  ></ion-icon>
                  <!--              <span class="error" [hidden]="passerror === ''"-->
                  <!--                >{{passerror}}</span-->
                  >
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row></ion-row>
        </ion-grid>
        <ion-footer>
          <div style="padding: 0px 20px 20px 20px; display: block">
            <ion-col>
              <div class="ion-text-center googlebutton">
                <ion-button
                  type="submit"
                  [disabled]="form.invalid"
                  expand="block"
                  class="flex-margin"
                  size="default"
                >
                  <span>Simpan Perubahan</span>
                </ion-button>
              </div>
            </ion-col>
          </div>
        </ion-footer>
      </form>
    </div>
  </section>
</ion-content>


