<ion-content fullscreen="true">
  <section>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div style="width: 100%; margin-bottom: 32px">
      <ion-item lines="none" class="header-title">
        <p class="title" style="margin: 20px 0 0px 0">Riwayat Transaksi</p>
      </ion-item>
      <p style="margin: 0">
      <span style="padding: 0 20px"
      >Cek transaksi anda</span
      >
      </p>
    </div>

    <div *ngIf="!loading">
      <div class="hw-konten-short" *ngFor="let item of bookings" (click)="itemClick(item)">
        <ion-item lines="full">
          <div class="hw-col-2">
          <span style="color: #656565">
            {{ item?.lapangan?.kategori?.nama }}
          </span>
          </div>
          <div class="hw-col-2" style="text-align: right">
            <span class="hw-paid">{{ item.status }}</span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="hw-col-3 col-logo">
            <img
              class="logo-lapangan"
              src="{{imageUrl}}venue/{{item?.lapangan?.venue?.logo}}"
            />
          </div>
          <div class="hw-col-4">
            <p class="hw-namalap">{{ item?.lapangan?.nama }}</p>
                      <p class="hw-tglbook">{{item.tanggal_booking}}</p>
          </div>
          <div class="hw-col-3" style="text-align: right">
              <p class="hw-harga" style="font-size:12px !important;">{{item.total_harga| currency:'Rp.':'symbol':'0.0'}}</p>
          </div>
        </ion-item>
      </div>
    </div>

    <div *ngIf="loading" style="padding-left:20px;padding-right: 20px">
      <div
        *ngFor="let item of [1,2,3,4,5]"
        style="margin: 20px auto; height: 90px"
      >
        <ion-thumbnail style="width: 100%" slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </div>
    </div>
  </section>
</ion-content>
